<div class="container">

  <div class="col-xs-4 col-xs-offset-7" id="register-block">
    <div class="col-xs-12">
      <h3 id="login-header"><a href="passenger-register" id="registerRef">register</a> | <a href="login"
                                                                                            id="loginRef">login</a>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-xs-offset-2"><img src="img/yellow-taxi.jpg"></div>
    <div class="col-xs-6 col-xs-offset-1"><a href="create-order"><h1> Find a taxi online !</h1></a></div>
  </div>

  <div class="row">
    <div id="sidebar" class="col-xs-4 hidden-xs col-sm-4 ">
      <div class="col-xs-12 ">
        <h3> Invite Drivers!</h3>
        <p> Take special possibilities for work !</p>
        <a type="button" href="driver-register" class="btn btn-primary btn-lg">Start Driving</a>
      </div>
    </div>
    <div id="sideform" class="col-xs-12 col-sm-4">
      <!--      <jsp:invoke fragment="sidebar"/>-->

    </div>

    <div id="form" class="col-xs-12 col-sm-8 ">
      <!--      <jsp:invoke fragment="body"/>-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 ">
      <!--      <jsp:invoke fragment="table"/>-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <hr>
      <h4 id="footer"> Created by Andrii Golets </h4>
    </div>
  </div>
</div>
